@font-face {
    font-family: vazir;
    src: url(font/Vazir-Medium.ttf);
  }
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000cc;
  font-family: vazir;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 300px auto;
  width: 400px;
  height:200px;
  border-radius: 25px;
  box-shadow: 0px 0px 15px #ccc;
  font-size: 20px;
  
  
}

.input{
  width: 75%;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1.5px solid rgb(231, 226, 226);
  margin-bottom: 15px;
  margin-top:15px;
  outline:none;
}

.btn{
  padding: 4px 40px;
  margin-bottom: 15px;
  background-color:rgb(246, 107, 107);
  border: none;
  border-radius: 25px;
  box-shadow: 0px 2px 10px #ccc;
  font-size: 18px;
  
}
.btn:active{
    box-shadow: 0px 2px 3px rgb(181, 167, 167);
  }